@{
    ViewBag.Title = "AnnonymousURL";
}

<h2>AnnonymousURL</h2>

<h4>User Urls</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Contact" method="post">
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
